@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");

@import url("components/container.css");
@import url("components/cards.css");
@import url("components/button.css");


/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background: #F4F4F4;
}
h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}
.list-inline li {
  display: inline-block;
}
